<div class="center-layout" >
    <slot/>
</div>
<style>
.center-layout{    
    background-color: var(--fg-color-1);
    width:100%;      
    /* min-height: 600px; */
    article{        
        justify-content: center;
        max-width: 1200px;
        margin: 0 auto;
        header{
            width: 39.196%;
        }
        main{
            gap:1.3em;
            width: 60.804%;         
           font-family: var(--primary-font);            
           h3{
                font-size:var(--size-large);
                color: var(--fg-color-3);
                            
           }                    
        }
        @media (max-width: 724px) {
                main{
                    width: 100%;
                }                
                padding: 15px;      
           }  
    }                   
}

</style>