<div class="elementor-menu-toggle" role="button" tabindex="0" aria-label="Menu Toggle" aria-expanded="false">
    <i aria-hidden="true" role="presentation" class="elementor-menu-toggle__icon--open eicon-menu-bar"></i><i aria-hidden="true" role="presentation" class="elementor-menu-toggle__icon--close eicon-close"></i>			<span class="elementor-screen-only">Menu</span>
</div>
<style>
        -webkit-text-size-adjust: 100%;
    --ast-container-default-xlg-padding: 3em;
    --ast-container-default-lg-padding: 3em;
    --ast-container-default-slg-padding: 2em;
    --ast-container-default-md-padding: 3em;
    --ast-container-default-sm-padding: 3em;
    --ast-container-default-xs-padding: 2.4em;
    --ast-container-default-xxs-padding: 1.8em;
    --ast-code-block-background: #ECEFF3;
    --ast-comment-inputs-background: #F9FAFB;
    --ast-global-color-0: #0053e1;
    --ast-global-color-1: #0098fe;
    --ast-global-color-2: #1e293b;
    --ast-global-color-3: #ff9000;
    --ast-global-color-4: #f9fafb;
    --ast-global-color-5: #FFFFFF;
    --ast-global-color-6: #e2e8f0;
    --ast-global-color-7: #cbd5e1;
    --ast-global-color-8: #94a3b8;
    --ast-border-color: var(--ast-global-color-6);
    --e-global-color-astglobalcolor0: #0053e1;
    --e-global-color-astglobalcolor1: #0098fe;
    --e-global-color-astglobalcolor2: #1e293b;
    --e-global-color-astglobalcolor3: #ff9000;
    --e-global-color-astglobalcolor4: #f9fafb;
    --e-global-color-astglobalcolor5: #FFFFFF;
    --e-global-color-astglobalcolor6: #e2e8f0;
    --e-global-color-astglobalcolor7: #cbd5e1;
    --e-global-color-astglobalcolor8: #94a3b8;
    --page-title-display: block;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
    font-weight: 400;
    line-height: 1.6em;
    --wp--custom--ast-container-width: 1200px;
    --wp--custom--ast-content-width-size: 1200px;
    --wp--custom--ast-wide-width-size: calc(1200px + var(--wp--custom--ast-default-block-left-padding) + var(--wp--custom--ast-default-block-right-padding));
    --wp--custom--ast-default-block-top-padding: 3em;
    --wp--custom--ast-default-block-right-padding: 2em;
    --wp--custom--ast-default-block-bottom-padding: 3em;
    --wp--custom--ast-default-block-left-padding: 2em;
    --e-global-color-primary: #6EC1E4;
    --e-global-color-secondary: #54595F;
    --e-global-color-text: #7A7A7A;
    --e-global-color-accent: #61CE70;
    --e-global-typography-primary-font-family: "Roboto";
    --e-global-typography-primary-font-weight: 600;
    --e-global-typography-secondary-font-family: "Roboto Slab";
    --e-global-typography-secondary-font-weight: 400;
    --e-global-typography-text-font-family: "Roboto";
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-accent-font-family: "Roboto";
    --e-global-typography-accent-font-weight: 500;
    --flex-direction: initial;
    --flex-wrap: initial;
    --justify-content: initial;
    --align-items: initial;
    --align-content: initial;
    --gap: initial;
    --flex-basis: initial;
    --flex-grow: initial;
    --flex-shrink: initial;
    --order: initial;
    --align-self: initial;
    --swiper-theme-color: #000;
    --swiper-navigation-size: 44px;
    --swiper-pagination-bullet-size: 6px;
    --swiper-pagination-bullet-horizontal-gap: 6px;
    --widgets-spacing: 20px;
    --e-nav-menu-divider-color: var( --e-global-color-text );
    --menu-height: 100vh;
    --nav-menu-icon-size: 28px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--nav-menu-icon-size,22px);
    padding: .25em;
    cursor: pointer;
    border: 0 solid;
    border-radius: 3px;
    margin: 0 auto;
    background-color: #0054DC;
    color: #FFFFFF;
</style>