---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Contactanos Tecnovedades Web Agencia Digital"
  backgoundImg="/imgmediosld.jpg"
>
  <header>
    <div>
      <h1>Escribenos</h1>
      <span>Te respondemos en breves</span>
    </div>
  </header>
  <main>
    <form action="">
      <h2>tu mensaje es importante para nososotros</h2>
      <div>
        <label for="names">Nombres</label>
        <input type="text" id="names" />
      </div>
      <div>
        <label for="email">Correo electronico</label>
        <input type="text" id="email" />
      </div>
      <div>
        <label for="message">Mensaje</label>
        <textarea id="message" id="" cols="30" rows="10"></textarea>
      </div>
      <div>
        <label for="terms">Aceptar terminos y condiciones</label>
        <input type="checkbox" id="terms" />
      </div>
      <div>
        <button>Enviar</button>
      </div>
    </form>
    <section>
      <h2>Encuentranos</h2>
      <ul>
        <li>
          <span class="list-icon">
            <i aria-hidden="true" class="fas fa-phone-square-alt"></i>
          </span><a href="">902 203 749</a>
        </li>
        <li>
          <span class="list-icon">
            <i aria-hidden="true" class="fas fa-phone-square-alt"></i>
          </span><a href="">902 203 749</a>
        </li>
        <li>
          <span class="list-icon">
            <i aria-hidden="true" class="fas fa-envelope-open-text"></i>
          </span><a href="">contacto@tecnovedadesweb.com</a>
        </li>
        <li>
          <span class="list-icon">
            <i aria-hidden="true" class="fas fa-map-marker-alt"></i>
          </span>Av. Santiago Antunez de Mayolo 1305, Los Olivos
        </li>
      </ul>
      <div>
        <iframe
  width="600"
  height="450"
  style="border:0"
  loading="lazy"
  allowfullscreen
  referrerpolicy="no-referrer-when-downgrade"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyChLOnK1onhCPcBcZf-i7M3p3QDIL_UqEw&q=Space+Needle,Seattle+WA">
</iframe>
      </div>
    </section>
  </main>
</Layout>
<style>
  header {
    height: 450px;
    display:;

    div {
      /* gap: 1.5em; */
      color: var(--fg-color-1);
      text-align: center;
      display: grid;
      place-content: center;
      height: 100%;
      font-family: var(--primary-font);

      h1 {
        text-transform: uppercase;
        font-family: var(--seconday-font);
        font-size: 52px;
        letter-spacing: 4.9px;
        color: inherit;
      }
      span {
        text-transform: uppercase;
        font-size: 15px;
        color: inherit;
      }
    }
    /* background-color: var(--fg-color-1); */
  }
  main {
    display: grid;
    grid-template-columns: 600px 600px;
    background-color: var(--fg-color-1);
    justify-content: center;
    padding: 50px 0;
    gap: 1rem;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    label {
      display: block;
    }
    div {
      padding-top: 20px;
      input:not([type="checkbox"]) {
        height: 40px;
      }
      input,
      textarea {
        margin-top: 10px;
        border: solid 1px rgb(209, 208, 208);
        border-radius: 2px;
        background-color: #f9fafb;
        &:not([type="checkbox"]) {
          width: 98%;
        }
      }
    }
  }
  h2 {
    font-size: 27px;
    font-weight: 500;
    text-transform: uppercase;
  }
  button {
    border: 0px solid;
    background-color: var(--bg-color-1);
    color: var(--fg-color-1);
    padding: 13px 37px;
    font-family: var(--primary-font);
    font-size: 1rem;
  }
  ul {
    list-style: none;
    padding: 0;
    .list-icon{
      margin-right: 12px;
    }
  }
</style>
