---
interface Props{
	imageUrl:string,
	title:string,
	description:string,
}

const {imageUrl,title,description} = Astro.props
---
<div class="main">
	<div class="front">		
		<img src={imageUrl} alt="image icon">
		<h4>{title}</h4>
	</div>
	<div class="back">
		<p>{description}</p>
		<button><a href="">Solicitar</a></button>
	</div>
</div>

<style>
	.main{
		background-color: var(--fg-color-1);
		min-height: 250px;	
		padding: 0px 20px;
		border:1px solid var(--fg-color-2);		
		position: relative;
		.front{			
			/* position: absolute; */
			display: grid;
			place-content: center;
			/* top: 0; */
			/* bottom: 0; */
			height: 100%;
			z-index: 1;
			h4{
				margin: 0;
				font-size: 1.5em;
			}
			img{
				margin: 0 auto;
				width: 29%;
			}					
		}
		.back{
			position: absolute;
			z-index: -1;
			top:0;
			bottom: 0;
		}		
	}
</style>