---
interface Props{
	imageUrl:string,
	title:string,
	description:string,
}

const {imageUrl,title,description} = Astro.props
---
<div class="main">
	<div class="front">		
		<img src={imageUrl} alt="image icon">
		<h4>{title}</h4>
	</div>
	<div class="back">
		<p>{description}</p>
		<button><a href="">Solicitar</a></button>
	</div>
</div>

<style>
	.main{
		min-height: 400px;	
		border:1px solid var(--fg-color-2);
		
		position: relative;
		.front{			
			position: absolute;
			display: grid;
			place-content: center;
			top: 0;
			bottom: 0;
			z-index: 1;
			h4{
				margin: 0;
			}
			img{
				margin: 0 auto;
				width: 50%;
			}					
		}
		.back{
			position: absolute;
			z-index: -1;
			top:0;
			bottom: 0;
		}		
	}
</style>