<div class="sub-tittle-container">
    <h3><slot></slot></h3>    
    <slot name="second"></slot>
</div>

<style>
  .sub-tittle-container {
    padding: 70px 0px;
    text-align: center;
    color: var(--fg-color-1);
    & > h3 {      
      font-size: var(--size-large);
    }    
    *{
      color: inherit;      
    }
  }
</style>
