<div class="sub-tittle-container">
    <h3><slot></slot></h3>
</div>

<style>
  .sub-tittle-container {
    padding: 50px 0px;
    & > h3 {
      color: var(--fg-color-1);
      font-size: var(--size-large);
    }
  }
</style>
