<footer>
    <section>
        <ul>
            <li><a href="">TecnovedadesWeb</a></li>
            <li><a href="">902203749</a></li>
            <li><a href="">contacto@tecnovedadesweb.com</a></li>            
        </ul>
        <img src="./cropped-logotecnovedades.webp" alt="tecnovedades web agencias digital" width="300" height="234">
    </section>
    <nav>
        <li> <a href="">» politicas de privacidad</li></a>
        <li> <a href="">» terminos y condiciones</li></a>
        <li> <a href="">» preguntas frecuentes</li></a>
        <li> <a href="">» blog</li></a>
        <li> <a href="">» contacto</li></a>
    </nav>
</footer>

<style>
    footer{              
        /* width: auto;         */
        background-color: #0053E1;
        section{
            border-style: solid;
            border-color:  #C8C8C8;
            border-width: 1px 0px 0px 0px;                        
            padding: 20px 0px;          
            background-color: #EFEFEF;            
            display: flex;
            justify-content: space-evenly;
            ul{
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin: 0;
                li{
                    margin: 2px;
                    display: block;
                    list-style: none;
                    font-size: 12px;
                    font-family: var(--primary-font);
                    margin-bottom: 8px;                    
                }
            }
            img{
                display: block;
                /* width: 10%; */
                height: auto;
                transform: scale(0.8);
            }
            @media (max-width: 724px){
            flex-wrap: wrap;
            flex-direction: row;
            gap: 1.9em;
            }
        }
    }
    nav{
        border-style: solid;
        border-color:  #C8C8C8;
        border-width: 1px 0px 0px 0px;
        
        margin-left: auto;
        margin-right: auto;
        min-height: 50px;
        display: flex;        
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;           
        li{
            color:var(--fg-color-1);
            font-size: var(--size-small);
            display: block;
            text-align: center;            
            /* width: 20%; */
            height: 100%;                   
            font-family: var(--primary-font);
            text-transform: capitalize;
            a{
                text-decoration: none;
                color: inherit;
            }
        }
        @media (max-width: 724px){
            flex-wrap: wrap;
            flex-direction: column;
            gap: 1.9em;
            padding: 20px 0px;
            a{
                font-size: 12px;
            }
            li{
                /* width: 100%;                 */
            }
        }
    }
</style>