<footer>
    <nav>
        <li> <a href="">» politicas de privacidad</li></a>
        <li> <a href="">» terminos y condiciones</li></a>
        <li> <a href="">» preguntas frecuentes</li></a>
        <li> <a href="">» blog</li></a>
        <li> <a href="">» contacto</li></a>
    </nav>
</footer>

<style>
    footer{        
        width: 100%;        
        background-color: #0066ff;
    }
    nav{
        max-width: 1140px;
        margin-left: auto;
        margin-right: auto;
        min-height: 50px;
        display: flex;        
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;           
        li{
            color:var(--fg-color-1);
            font-size: var(--size-small);
            display: block;
            text-align: center;            
            width: 20%;
            height: 100%;                   
            font-family: var(--primary-font);
            text-transform: capitalize;
            a{
                text-decoration: none;
                color: inherit;
            }
        }
        @media (max-width: 724px){
            flex-wrap: wrap;
            flex-direction: column;
            li{
                width: 100%;                
            }
        }
    }
</style>