<header>
  <div class="imgContainer">
    <img
      src="/cropped-cropped-logo300cabecera.webp"
      height="100"
      width="300"
      class="shadow-slate-950"
      alt="tecnovedades-imagotipo"
    />
  </div>
  <nav>
    <ul>
      <li>
        <a href="./">inicio</a>
      </li>
      <li>
        <a href="./portafolio">portafolio</a>
      </li>
      <li>
        <a href="./?#eligetuweb">elige tu web</a>
      </li>
      <li>
        <a href="./nosotros">nosotros</a>
      </li>
      <li>
        <a href="./contacto">contacto</a>
      </li>
    </ul>
  </nav>
  <nav id="nav-r">
    <ul>
      <li>
        <a href="" style={{ backgroundColor: "#0269E3" }}
          ><i aria-hidden="true" style={{ color: "" }} class="fab fa-facebook"
          ></i></a>
      </li>
      <li>
        <a href="" style={{ backgroundColor: "#F0248C" }}
          ><i aria-hidden="true" class="fab fa-instagram"></i></a>
      </li>
      <li>
        <a href="" style={{ backgroundColor: "#000000" }}
          ><i aria-hidden="true" class="fab fa-tiktok"></i></a>
      </li>
      <li>
        <a href="" style={{ backgroundColor: "red" }}
          ><i aria-hidden="true" class="fab fa-youtube"></i></a>
      </li>
      <li>
        <a href="" style={{ backgroundColor: "#259AED" }}
          ><i aria-hidden="true" class="fab fa-twitter"></i></a>
      </li>
    </ul>
  </nav>
</header>
<script>
  let el = Array.from(document.querySelectorAll("a")).find(
    (e) => e.href == window.location.href
  );
  if (el) {
    el.className = "active";
  }
</script>
<style>
  li {
    list-style-type: none;
  }
  .imgContainer {
    width: 30%;
    display: flex;
    justify-content: end;
  }
  img {
    margin-left: 8%;
    transform: scale(0.8);
  }
  header {
    padding: 5px 15%;
    border-top: solid 9px #0066ff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 9999;
    justify-content: center;
    background-color: var(--fg-color-1);
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    ul {
      margin: 0;
      height: 100%;
      display: flex;
      align-items: center;
    }
    @media (max-width: 724px) {    
      flex-direction: column;
      position: static;
      align-items: center;
      li {
        width: 100%;
      }
    }
    /* #nav-r {
      width: 20%;
    } */
    nav:not(#nav-r) {
      width: 40%;
      ul {
        flex-wrap: wrap;
        margin-right: auto;
        margin-left: auto;
        li {
          transform: translateY(2px);
          display: flex;
          line-height: normal;
          transition-timing-function: ease-in-out;
          transition-duration: 0.3s;
          border-radius: 10px;
          box-sizing: border-box;
          color: var(--fg-color);
          a {
            display: block;
            padding: 15px 20px;
            letter-spacing: 0.2;
            font-size: var(--size-medium);
            font-family: var(--primary-font-condessed);
            font-weight: 500;
            font-stretch: 20%;
            text-transform: uppercase;
            text-decoration: none;
            color: inherit;
            word-spacing: 0px;
          }
          text-align: center;
        }
        .active {
          background-color: var(--fg-color-3);
          border-radius: 10px;
          color: var(--fg-color-1);
        }
        li:hover {
          background-color: var(--fg-color-3);
          color: var(--fg-color-1);
        }
      }
    }
  }
  #nav-r {
    ul {
      margin: 0;
      padding: 0;
      display: flex;
      gap: 1em;
      justify-content: flex-start;
      li {
        a {
          height: 100%;
          display: inline-block;
          /* font-size: 20px; */
          background-color: #0066ff;
          border-radius: 50%;
          padding: 8px;
          position: relative;

          i {
            display: block;
            margin: 0 auto;
            font-size: 25px;
            height: 1em;
            width: 1em;

            color: var(--fg-color-1);
            fill: #0066ff;
          }
        }
      }
    }
  }
</style>
