<header class="flex  px-32 w-full justify-around font-medium gap-20 text-slate-50">
    <img src="logotipo-m.png" width="150" alt="tecnovedades-imagotipo" class="-translate-y-2">
    <nav class="w-2/3 flex justify-around align-middle]">      
        <a href="#">Inicio</a>
        <a>Portfolio</a>
        <a>Elige tu Web</a>
        <a>Nosotros</a>
        <a>Contacto</a>        
    </nav>
</header>