---
interface Props{
    imageSrc:string,
    reverse:boolean,
    imgDescription:string
}
const {imageSrc,reverse,imgDescription} = Astro.props
const flexDirection = !reverse?"row":"row-reverse"
---
<article>
    <header>
        <img src={imageSrc} alt={imgDescription} width="700" height="700">
    </header>
    <main>
        <slot name="bnTitle"></slot>
        <slot name="bnSeparator"></slot>
        <div>
           <slot/>
        </div>        
        <div><slot name="bnFooter"></slot></div>                
    </main>    
</article>
<style>
    article{    
        width: 100%;        
        background-color: inherit;
        display: flex;                
        padding:50px 0px;
        gap: 2rem;        
        header{
            text-align: end;
        }
        main{
            display: flex;
            flex-direction: column;
        }  
        img{
            width: 100%;
            height: auto;            
        }    
        @media (max-width: 724px) {
            &>*{                
                max-width: 100%;
                padding: 8px 20px;
            }
            & > main {
                height: auto;
            }
            &>header{
                text-align: center;
            }
            flex-direction: column;
            align-items: center;            
        }
    }
</style>