---
interface Props {
	title: string;
	backgoundImg:String;
}
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
const { title,backgoundImg} = Astro.props;
const bgUrl = `url(${backgoundImg})`;
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />		
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<!-- BackGround Image -->
		<div class="absoluteBg"></div>		
		<Header/>
		<slot />
		<Footer/>
	</body>
</html>
<style is:global define:vars={{bgUrl}}>	
	/* Fonts */
	@font-face {
		font-family:"Roboto Condensed"; 
		src: url("./fonts/RobotoCondensed-VariableFont_wght.ttf");
	}
	@font-face {
		font-family: "Roboto";
		src: url("./fonts/Roboto/Roboto-Light.ttf");
	}
	@font-face{
		font-family: "Antonio";
		src: url("./fonts/Antonio/Antonio-VariableFont_wght.ttf");
	}
	:root{	
	--bg-color-1: #0053E1;
	--bg-color-2:#091929;
	--fg-color-1:#ffffff;;
	--fg-color:#333333;
	--fg-color-2:#01F0DD;
	--fg-color-3:#FF9000;
	--size-title:100px;
	--size-small:14px;
	--size-medium:16px;
	--size-large:40px;
	--size-xl:49px;
	--primary-font:"Roboto", Sans-serif;
	--primary-font-condessed:"Roboto Condensed", Sans-serif;
	--seconday-font:"Antonio", Sans-serif;
	}
	a{
		align-self: center;
	}
	html {
		font-family: var(--seconday-font);
	}	
	body{
		background: var(--bg-color-1);
		background: linear-gradient(180deg, rgba(66,83,255,1) 0%, rgba(1,240,221,1) 32%, rgba(255,255,255,1) 100%);			
		margin: 0;
	}
	h1,h2,h3{
		font-family:var(--seconday-font);
		margin: 0;
	}
	h2,h3,h4,h5,h6{
		font-size: var(--size-large);
	}
	*{
		font-size: var(--size-medium);
		color: var(--fg-color);
	}	
	h1{
		font-size: var(--size-xl);
		font-weight: 600;
		text-shadow: 12px 3px 13px rgba(0,0,0,0.3);
		letter-spacing: 0.2;
		padding: 0;
	}
	a{
		font-size: inherit;
		text-decoration: none;
		color: inherit;
	}	
	.absoluteBg{
		position: fixed;
		z-index: -1;
		top:0;
		left: 0;
		right: 0;
		bottom: 0;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;		
		background-image: linear-gradient(360deg, #0066FFD1 51%, #0066FFD1 96%),var(--bgUrl);
	}
</style>	